@import "src/scss/Palette";
@import "src/scss/Mixins";

%text-with-shadow {
  text-shadow: 0 3px 6px $black-two;
  font-weight: 800;
}

.playbar {
  background: transparent linear-gradient(180deg, $vivid-teal 0, $deep-blue 100%) 0 0 no-repeat padding-box;
  box-shadow: 0 0 4px 3px rgba(0,0,0,0.25);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;

  &__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
  }

  &__picture {
    max-width: calculateRem(50px);
    max-height: calculateRem(50px);
    position: relative;
    display: flex;

    &:hover {
      .featured-widget__play-icon {
        display: none;
      }
    }
  }

  &__image {
    margin-right: 2rem;
    filter: contrast(0.4) blur(1px);
    transition: filter 0.5s ease;
    cursor: pointer;

    &:hover {
      filter: none;
    }
  }

  &__play-icon {
    @extend %text-with-shadow;
    font-size: calculateRem(14px);
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
  }

  &__meta {
    display: flex;
    flex: 1;
    margin-left: 1.5rem;
  }

  &__controls {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__control {
    border: none;
    font-size: calculateRem(30px);
    background-color: transparent;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
    transition: opacity 300ms ease;

    &:hover {
      transition: opacity 300ms ease;
      opacity: 0.7;
    }

    &:focus {
      color: $medium-purple;
      outline: none ;
    }
  }

  &__song {
    @extend %text-with-shadow;
    font-family: "Manrope", Arial, sans-serif;
    font-size: 22px;
    font-weight: bolder;
  }

  &__artist {
    @extend %text-with-shadow;

    font-weight: 500;
  }
}