@import "src/scss/Palette";
@import "src/scss/Mixins";

%text-with-shadow {
  text-shadow: 0 3px 6px $black-two;
  font-weight: 800;
}

.featured-widget {
  font-family: "Manrope", Arial, sans-serif;
  color: white;

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  &__header {
    text-align: left;
    font-size: 23px;
    margin-bottom: calculateRem(26px);
    font-weight: 400;
  }

  &__content {
    border-radius: calculateRem(18px);
    background: transparent linear-gradient(180deg, $medium-purple 0, $dark-purple 100%) 0 0 no-repeat padding-box;
    border: 2px solid $light-purple;
    padding: 2rem;
    display: flex;
  }

  &__meta  {
    fleX: 1;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  &__title {
    @extend %text-with-shadow;

    font-size: calculateRem(28px);
    margin-bottom: calculateRem(12px);

    &--radio {
      color: $teal;
    }
  }

  &__description {
    @extend %text-with-shadow;

    font-size: calculateRem(20px);
  }

  &__bottom {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
  }

  &__meta-item {
    font-weight: 400;
    font-size: calculateRem(14px);
  }
}