@import 'src/scss/Palette';
@import "src/scss/Mixins";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  background:
    transparent
    linear-gradient(180deg, $purple 0, $purple-variant 100%) 0 0 no-repeat
    padding-box;
  height: auto;
  padding-bottom: calculate-rem(108px);
  color: white;
  min-height: 100vh;
}

.container {
  width: 1200px !important;
  margin: 0 auto;
}
