$purple: #2a2283;
$purple-variant: #2f155c;
$purple-darker: #2e165f;
$cyan: #2afadf;
$gray-thin: #d8d8d899;
$black-one: #0000001f;
$black-two: #00000029;
$light-purple: #c28bf6;
$regular-purple: #784bc9;
$medium-purple: #6536b9;
$dark-purple: #6234b4;
$teal: #2fe5e4;
$vivid-teal: #2eece3;
$deep-blue: #3bbdef;
